/*General Styles*/

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Heebo:wght@300;500&family=Quicksand:wght@400;500&family=Roboto:ital,wght@0,100;0,400;1,700&display=swap");

html {
  font-size: 16px;
}

:root {
  --dancing: "Dancing Script", cursive;
  --heebo: "Heebo", sans-serif;
  --quick: "Quicksand", sans-serif;
  --roboto: "Roboto", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

/*Outmost Layout*/

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

header {
  padding: 15px;
  font-family: var(--dancing);
  box-shadow: 0px 3px 3px gray;
}

main {
  flex: 1;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.addbook-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.addbook-container button {
  font-size: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 10px;
}

footer {
  padding: 5px;
  box-shadow: 0px -1px 1px gray;
}

/*Popup Message*/

.cancel-layer {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(45, 45, 45, 0.255);
  justify-content: center;
  align-items: center;
}

.create-popup {
  background-color: rgb(243, 243, 243);
  width: max(30%, 400px);
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  padding: 20px;
  position: relative;
  border-radius: 10px;
}

.create-popup input[type="text"], .create-popup input[type="number"]{
  font-size: 100%;
  padding: 3px;
}

input{
  margin-bottom: 20px;
}

label{
  margin-bottom: 5px;
}

label[for="file"]{
  margin-bottom: 15px;
}

fieldset{
  display: flex;
  padding: 13px 0  0px;
  align-items: center;
}

fieldset input[type="radio"]{
  appearance: none;
  width: 3rem;
  height: 2rem;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(175, 175, 175);
  box-shadow: 2px 2px 1px black;
  position: relative;
}

fieldset input[id="yes"]::after{
  position: absolute;
  content: 'Yes';
  font-size: 1rem;
  top: 25%;
  left: 25%;
}

fieldset input[id="no"]::after{
  position: absolute;
  content: 'No';
  font-size: 1rem;
  top: 25%;
  left: 25%;
}

fieldset input[id="still-reading"]::after{
  position: absolute;
  content: 'Still Reading';
  font-size: 1rem;
  top: 25%;
  left: 10%;
}

fieldset input[id="still-reading"]{
  width: 7rem;
  height: 2rem;
}


legend{
}

#cancel{
  align-self: flex-end;
  appearance: none;
  border-radius: 50%;
  position: absolute;
  top:8px;
  right: 8px;
}

button[id="create"]{
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  align-self: center;
}

/*Grid Container*/

.gridcontainer {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 384px;
}

/*bookcard container*/

.bookcard-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*bookcard*/

.bookcard {
  border-radius: 5px;
  width: 280px;
  height: 90%;
  border: 1px solid #00000029;
  padding: 0 10px;
  box-shadow: 3px 3px 1px #aeabab;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* justify-content: space-between; */
}

#delete {
  appearance: none;
  border-radius: 50%;
  border: 1px solid black;
  align-self: flex-end;
  margin: 5px 0 5px;
}

.img-container {
  width: 100%;
  height: 45%;
  border: 1px solid black;
}

.img-container img {
  width: 100%;
  height: 100%;
}

.info {
  margin-top: 10px;
  width: 100%;
  font-family: sans-serif;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  flex: 1;
}

.read-section {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: var(--quick);
  font-weight: 500;
  font-size: 1.4rem;
}

#read {
  appearance: none;
  border: 1px solid black;
  margin-right: 16%;
}

#edit{
  padding: 8px 20px;
  font-size: 1.2rem;
}

.edit{
  color: rgb(55, 191, 254);
  font-family: var(--roboto);
  align-self: flex-start;
}

/*Delete Pop Up*/

.delete-cancel-layer{
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(45, 45, 45, 0.255);
  justify-content: center;
  align-items: center;
}

.delete-popup{
  background-color: rgb(243, 243, 243);
  width: max(30%, 400px);
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  padding: 40px 20px;
  position: relative;
  border-radius: 10px;
  min-height: 30%;
  align-items: center;
}

.delete-buttonContainer{
  display: flex;
  justify-content: space-around;
  align-items:center;
  width: 100%;
}

.delete-buttonContainer button{
  font-size: inherit;
  padding: 10px 50px;
}

.delete-buttonContainer button[id="yes"]{
  background-color: greenyellow;
}

.delete-buttonContainer button[id="no"]{
  background-color: rgb(253, 122, 122);
}

.delete-popup h1{
  margin-bottom: 35px;
}

.delete-popup p{
  font-size: initial;
  margin-bottom: 20px;
}

